<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administradores</title>
</head>
<body>
    <h1>Administradores</h1>
    <a href="{% url 'home:homeapp' %}">Home</a>
     <!-- Header End -->

     <div class="container">
        <div class="row">
        <div class="col">
            <table  id= "tablaadmin" class="table table-success table-striped">
            <tr>
                <td><strong>NOMBRE</strong></td>
                <td><strong>APELLIDO</strong></td>
                <td><strong>IDENTIFICACIÓN</strong></td>
              </tr>
              
              <tr>
                <td>Iván   </td>
                <td>de León</td>
                <td>0903-19-51324</td>
              </tr>
              
              
            </table>
        </div>


        </div>

    </div>
    <!-- formulario de contacto en html y css -->  

</body>
</html>