<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estudiantes</title>
</head>
<body>
    <h1>probando estudiantes</h1>
    <div  class="container"    >
        <div class="row">
        <div class="col">
            <table class="table table-success table-striped" id="tablaalumn">
              <td><strong>NOMBRE</strong></td>
              <td><strong>APELLIDO</strong></td>
              <td><strong>CARNÉ</strong></td>
              <td><strong>Nota 1</strong></td>
          
                </tr>
    
                <tr>
                  <td>Ricardo </td>
                  <td>Orozco</td>
                  <td>0903-19-9903</td>
                  <td type="text" id = "alumn1">70</td>
                    </tr>
                    <tr>
                      <td>Juan </td>
                      <td>Lopez</td>
                      <td>0903-19-9952</td>
                      <td type="text" id = "alumn2">95</td>
                        </tr>
                        <tr>
                          <td>Pedro </td>
                          <td>Palacios</td>
                          <td>0903-19-2574</td>
                          <td type="text" id = "alumn3">52</td>
                            </tr>
                            <tr>
                              <td>Marcos </td>
                              <td>Juarez</td>
                              <td>0903-19-4596</td>
                              <td type="text" id = "alumn4">95</td>
                                </tr>
                                <tr>
                                  <td>Mirna </td>
                                  <td>Miranda</td>
                                  <td>0903-19-9903</td>
                                  <td type="text" id = "alum5">41</td>
                                    </tr>
                                    <p id="promedio"></p>
    
     
     
    </table>
    </div>
    </div>
    </div>
    <a href="{% url 'home:homeapp' %}">Home</a>
</body>
</html>