{% extends 'base.html'%}
{% block  contenido %}
{% load static %}
<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 400px"
  >
    <h3 class="display-3 font-weight-bold text-white">CREAR COMENTARIO</h3>
    <div class="d-inline-flex text-white">
     <!-- <p class="m-0"><a class="text-white" href="Index.html">Home</a></p>--> 
       
      
    </div>
  </div>
</div>
<div  class="container"   id="tablaalumn" >
    
  <h2> Crear Comentario </h2>
 <form method="POST">
    {% csrf_token %}
    Noticia {{form.noticia}}
    Descripción {{form.Descripcion}}
    EstudiantePublica {{form.estudiantepublica}}
    
    <input type="submit" name="Guardar">
 </form>
</div>
</div>
</div>
 <!--  
<center>
<button id="btnagregaralum" class="boton" >Agregar</button>
<button id="btnListaralum" class="boton" > Listar</button>
</center>
--> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{% endblock %}